<h3> Server Addition </h3>
<div class="cointainer">
  <div class="column">
  <hr>
  <label>Server name</label>
  <!-- <input 
    type="text" 
    class = "form-control"
    id = "es"
    placeholder = "Enter Server"
    (input)="onEnterServer($event)"> -->

  <input         
    type="text" 
    class = "form-control"
    id = "es"
    placeholder = "Enter Server"
    [(ngModel)]='serverName'>

  <button 
     class="btn btn-primary"
     (click)= "onAddServer()"
     [disabled] = "serverName === ''"> Add Servers </button>
     <p></p>
    <p> {{ serverStatus }} </p>
    <p>{{ serverName}}</p>
   
  </div>
</div>




