<h3> Server Addition </h3>
<div class="cointainer">
  <div class="column">
  <hr>
  <label>Server name</label>
  <!-- <input 
    type="text" 
    class = "form-control"
    id = "es"
    placeholder = "Enter Server"
    (input)="onEnterServer($event)"> -->

  <input         
    type="text" 
    class = "form-control"
    id = "es"
    placeholder = "Enter Server"
    [(ngModel)]='serverName'>

  <button 
     class="btn btn-primary"
     (click)= "onAddServer()"
     [disabled] = "serverName === ''"> Add Servers </button>
    <p *ngIf="serverCreated; else noServer"> </p>
    
        <p *ngFor="let server of serverss">  
            Server was created, server name is {{ server }}
       </p>
     
     <ng-template #noServer>
        <p>No server created</p>  
     </ng-template>

    <p 
      [ngStyle] = "{backgroundColor: getColor()}"
      [ngClass] = "{'online' : serverStatus === 'online'}">
        {{serverStatus}}
    </p>

  </div>
</div>




